.menuContainer{
 padding: 5px;
  }

.Column{
    display: float;
}
.menuimage{
    padding: 5px;

}

.menuimage img{
    width: 100%;
    border-radius: 25%;
    max-height: 100%;
}

.titledesc{
    padding-top: 10px;
    padding-bottom: 15px;
}

.titledesc h5{
    font-style: bold;
    color: rgb(115, 192, 255);
}

.price{
    display: inline;
    align-items: center;
}
.prices{
    display: inline;
    align-items: center;
    padding: 0px;
}

.addButton{
    margin: 0px;
}

.itemCount{
    display: inline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

.subButton{
    margin: 0px;
    display: inline;
    float: right;
}

.price Button{
    display: inline;
    border-radius: 50%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    float: right;
}

.itemCount{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    display:inline;
}
