/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/


.menu {
  color: rgb(48, 48, 48);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.headerlogo{
  text-align: center;
}

.headerimg{
  align-items: center;
  max-width: 100%;
  max-height:50%;
  padding: 10px;
  border: 5px;
  margin-bottom: 20px;
}

.headerimg img{
  max-width: 100%;
  align-items: center;
}

.textheader{
  text-align: center;
}

.textheader h4{
  color: rgb(115, 192, 255);
  font-size: 15px;
  font-family: cursive;
  font-weight:bold;
}

.textheader h2{
  color: darkgrey;
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}